<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:tr="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Pizza Order page - Welcome and choose pizza</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Pizza Delivery App</h1>
</header>
<main>
    <h2>Choose pizza:</h2>
    <form method="POST" th:action="@{/*}">
        <ul th:each="pizza : ${pizzas}">
            <li>
                <input th:name="pizzaName" id="selected-pizza" th:value="${pizza.name}" type="radio">
                <span th:text="${pizza.name}"></span>
                <span th:text="${pizza.description}"></span>
            </li>
        </ul>
        <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>